Funatomations/Public/Google Scrapper Agent🔜.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Web Scrapping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "google maps scrapper⚒️": {
      "ai_tool": [
        [
          {
            "node": "Web Scrapping Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Web Scrapping Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Web Scrapping Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Email Validation📧",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email_validation": {
      "ai_tool": [
        [
          {
            "node": "Email Validation📧",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Scrapping Agent": {
      "main": [
        [
          {
            "node": "Email Validation📧",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "createdAt": "2024-12-14T05:43:07.881Z",
  "id": "LK79iPvpM59QeOlo",
  "meta": null,
  "name": "Google Scrapper Agent🔜",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        -60
      ],
      "id": "b23b74c5-d0f1-494d-8869-c45622b9e929",
      "name": "When chat message received",
      "webhookId": "210a1fec-5253-4e52-9f5f-b719738ad1f2"
    },
    {
      "parameters": {
        "model": "mistral-medium",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -340,
        400
      ],
      "id": "e82be7be-c204-4edc-abca-08c4c3a85f75",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "ja490hUjKCOlSnOl",
          "name": "Mistral Cloud account✅"
        }
      }
    },
    {
      "parameters": {
        "name": "google_maps_scrapper",
        "description": "Call this tool to scrap google maps",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "PKrp15R9DMpqR1YZ",
          "cachedResultName": "Google Maps Scrapper Tool⚒️⚒️"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        220
      ],
      "id": "7f9b3b01-0ce9-481b-aae7-acda0427dd1d",
      "name": "google maps scrapper⚒️"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "c17e43bf-622f-4e64-a096-5e47d989905a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "9a08a430-5f91-4e3f-92b2-390b5ed0d799",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1JBBIaXSHGKDHZKq",
          "name": "Openrouter✅"
        }
      }
    },
    {
      "parameters": {
        "name": "Email_validation",
        "description": "Call this tool to validate all the emails we got",
        "workflowId": {
          "__rl": true,
          "value": "Acrft5XJrbMUJ5ky",
          "mode": "list",
          "cachedResultName": "Email Validation and Verification tool⚒️⚒️"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        240
      ],
      "id": "91c07e96-ac80-4449-9a07-27f7b1a11f45",
      "name": "Email_validation"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant. Your task is to convert natural language into structured queries for a Google Maps web scraper and ensure outputs are formatted correctly for further processing.\n\nProcess:\n\nInterpret User Input:\n\nExtract the main keyword (e.g., \"hotels\") and area (e.g., \"Union Springs, Alabama\") from the user's chat message.\nIf no specific area is provided, default to 'USA' as the broader region.\nGenerate Sub-Area Queries:\n\nCreate a list of search queries for the provided keyword by including sub-areas (microneighborhoods) within the specified area.\nIf only a larger region (e.g., \"Alabama\") is mentioned, split it into smaller cities/towns and generate search queries for each.\nUse the format: [keyword]+in+[sub-area]. For example, hotels+in+Union+Springs+Alabama.\nFormat the Output for the Scraper:\n\nConvert each query into a JSON object with the following structure:\njson\nCopy code\n{\n    \"query\": \"hotels+in+Union+Springs+Alabama\"\n}\nSend Queries:\n\nSubmit the JSON query objects one at a time to the 1Google Maps Scraper tool.\nUpload Results:\n\nFormat the scraper's output into a well-organized Google Sheet, with clearly labeled columns such as Business Name, Address, Email, Phone Number, and Relevance.\nEnsure the data is neat, deduplicated, and ready for lead generation efforts.\nExpected Output Example:\nFor the keyword hotels and area Alabama, generate sub-area queries like:\n\nhotels+in+Union+Springs+Alabama\nhotels+in+Montgomery+Alabama\nhotels+in+Tuscaloosa+Alabama\nEach query should be formatted as:\n\njson\nCopy code\n{\n    \"query\": \"hotels+in+Union+Springs+Alabama\"\n}\n\n\n\nFor all te results, we are going to pass them via the `Email_validation` tool before returning the responses back to the user. This is a must. Email validation and verification\nAdditional Notes:\n\nUse natural language interpretation to handle variations in user input.\nEnsure the sub-area queries are comprehensive enough to cover the specified region.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        -60
      ],
      "id": "1043327c-bbf6-4614-b14a-3afe00f20753",
      "name": "Web Scrapping Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "id": "d977ba48-000d-448c-a7bf-f5940885fe05",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "ja490hUjKCOlSnOl",
          "name": "Mistral Cloud account✅"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse this and run to the tool only once with all the data\n\n\n{{ $json.output || $json.text }}\n\n\n",
        "options": {
          "systemMessage": "You are a helpful assistant. Yoiur task is to perform an eamil validation for all the given emails. You are to send all these as a a single email array to the email validation tool eg \n\nOnce verified, try to match themail to the company and website as provided in the query and present these to the user in a clean format\n\n{\n  \"query\": [\n    \"example1@gmail.com\",\n    \"contact@businesssite.com\",\n    \"info@anotherdomain.org\",\n    \"support@websitename.net\",\n    \"hello@companymail.co\"\n  ]\n}\n\n\nMake sure this runs ONLY ONCE with all the items"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        -60
      ],
      "id": "2b191ba1-cc95-411e-99d7-591049d9dd13",
      "name": "Email Validation📧"
    }
  ],
  "pinData": {
    "Web Scrapping Agent": [
      {
        "json": {
          "output": "Here is a comprehensive list of insurance companies in various cities within Minnesota:\n\n### Minneapolis, Minnesota\n1. **Blue Jay Agency**\n   - [Website](https://www.bluejayagency.com)\n   - Email: N/A\n\n2. **Abbott Insurance**\n   - [Website](https://abbott-insurance.com)\n   - Email: agents@abbott-insurance.com\n\n3. **GEICO**\n   - [Website](https://www.geico.com)\n   - Email: overseas@geico.com\n\n4. **Seguro de Auto y Casa**\n   - [Website](https://www.segurodeautoycasa.com)\n   - Email: admin@nustar.us\n\n5. **AI Life**\n   - [Website](https://agency.ailife.com)\n   - Emails: pos@ailife.com, CL@ailife.com, product_info@ailife.com, bviar@americanincomelife.com, leadreq@ailife.com\n\n6. **Insurance Brokers MN**\n   - [Website](https://insurancebrokersmn.com)\n   - Email: N/A\n\n7. **Higgins Agency**\n   - [Website](http://higginsagency.com)\n   - Email: info@higginsagency.com\n\n8. **Keen Agency**\n   - [Website](https://www.kimnybo.net)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n9. **My Insurance Warehouse**\n   - [Website](http://www.myinsurancewarehouse.com)\n   - Email: N/A\n\n### Saint Paul, Minnesota\n1. **Insurance Group MN**\n   - [Website](https://insurancegroupmn.com)\n   - Email: N/A\n\n2. **Wilebski Insurance**\n   - [Website](https://wilebski-ins.com)\n   - Emails: hi@typemade.mx, dave@lab6.com, Erica@Wilebski-ins.com\n\n3. **East Metro Insurance**\n   - [Website](http://eastmetroinsurance.com)\n   - Emails: bill.runck@eastmetroinsurance.com, info@eastmetroinsurance.com\n\n4. **Wiessner Agency**\n   - [Website](http://www.wiessneragency.com)\n   - Emails: info@wiessneragency.com\n\n5. **Reliable Insurance**\n   - [Website](https://reliableinsurance.com)\n   - Email: info@reliableinsurance.com\n\n6. **Garry Insurance**\n   - [Website](http://garryinsurance.com)\n   - Email: contact@garryinsurance.com\n\n### Rochester, Minnesota\n1. **Build My Fortress**\n   - [Website](http://www.buildmyfortress.com)\n   - Email: N/A\n\n2. **Sanford Insurance**\n   - [Website](http://www.sfrochester.com)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n3. **Atlas Insurance**\n   - [Website](https://www.atlasinsurancerochester.com)\n   - Email: N/A\n\n4. **Harmony Insurance Group**\n   - [Website](http://harmonyinsurancegroup.com)\n   - Email: info@harmonyinsurancegroup.com\n\n### Bloomington, Minnesota\n1. **Arcadia Agency**\n   - [Website](http://www.arcadiaagency.com)\n   - Email: N/A\n\n2. **Elite Insurance MN**\n   - [Website](https://www.eliteinsurancemn.com)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n3. **Farmers Insurance**\n   - [Website](https://agents.farmers.com)\n   - Email: N/A\n\n4. **My Insurance Warehouse**\n   - [Website](http://www.caseycharlson.com)\n   - Emails: team@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n### Duluth, Minnesota\n1. **Young Insurance**\n   - [Website](http://www.younginsure.com)\n   - Email: N/A\n\n2. **Hanlon and Associates**\n   - [Website](http://www.hanlonandassociates.com)\n   - Email: info@hanlonandassociates.com\n\n3. **Dwight Swanstrom Agency**\n   - [Website](https://dwightswanstrom.com)\n   - Emails: dsi@dwightswanstrom.com, ci@dwightswanstrom.com, gbrisky@dwightswanstrom.com, mbauer@dwightswanstrom.com\n\n4. **Deluxe Insurance Group**\n   - [Website](https://www.deluxeinsurancegroup.com)\n   - Email: N/A\n\n### Plymouth, Minnesota\n1. **Anchor Insurance**\n   - [Website](http://www.anchorins.com)\n   - Emails: AnchorInsuranceAgency2024@anchorins.com, anchor@anchorins.com\n\n2. **Kaplan Insurance Agency**\n   - [Website](https://www.kaplaninsuranceagency.com)\n   - Email: N/A\n\n3. **Prokop Insurance**\n   - [Website](https://www.prokopinsurance.com)\n   - Email: service@prokopinsurance.com\n\n4. **Shane Mason Agency**\n   - [Website](http://www.shanemasonagency.com)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n### Brooklyn Park, Minnesota\n1. **Allstate Agents**\n   - [Website](https://agents.allstate.com)\n   - Email: N/A\n\n2. **Wieden Agency**\n   - [Website](https://www.wiedenagency.com)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n3. **American Family Insurance**\n   - [Website](https://www.amfam.com)\n   - Email: N/A\n\n4. **Pinnacle Insurance**\n   - [Website](http://www.pinnacleinsuranceofmn.com)\n   - Email: N/A\n\n### Maple Grove, Minnesota\n1. **MN Lakes Insurance**\n   - [Website](http://www.mnlakesins.com)\n   - Email: info@mnlakesins.com\n\n2. **Agency 10 Insurance**\n   - [Website](https://www.agency10insurance.com)\n   - Email: N/A\n\n3. **Ran Insurance Agency**\n   - [Website](https://www.ranagency.com)\n   - Email: info@ranagency.com\n\n4. **Perrine Agency**\n   - [Website](http://www.perrineagency.com)\n   - Emails: kimberly@perrineagency.com, info@perrineagency.com\n\n### Coon Rapids, Minnesota\n1. **Pinnacle Insurance**\n   - [Website](http://www.pinnacleinsuranceofmn.com)\n   - Email: N/A\n\n2. **NSA Agencies**\n   - [Website](http://www.nsagencies.com)\n   - Email: nsa@nsagencies.com\n\n3. **Kevin Vote Agency**\n   - [Website](https://www.kevinvote.com)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n4. **David Insures Me**\n   - [Website](http://www.davidinsuresme.com)\n   - Emails: dustin@keen.io, joe@keen.io, dariusz.lacheta@keen.io\n\n### Eagan, Minnesota\n1. **Clear Choice Insurance**\n   - [Website](http://www.clearchoicemn.com)\n   - Email: N/A\n\n2. **First Class Insurance**\n   - [Website](http://www.firstclassib.com)\n   - Emails: marc@firstclassib.com, joe@firstclassib.com, heather@firstclassib.com\n\n3. **Lean Insurance Group**\n   - [Website](http://www.leannecasanova.com)\n   - Emails: team@keen.io, dustin@keen.io, eric@keen.io, joe@keen.io, alex@keen.io, adam.kasprowicz@keen.io, dariusz.lacheta@keen.io\n\n### Next Steps:\nYou can organize these details into a Google Sheet with the following columns: Business Name, Website, Email, and Location. Ensure that the data is neat, deduplicated, and ready for lead generation efforts."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "2gLR5bciIZCpJZRE"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-14T05:16:52.018Z",
      "updatedAt": "2024-12-14T05:16:52.018Z",
      "id": "kOC8RBaSMppaZ55G",
      "name": "Template"
    },
    {
      "createdAt": "2024-12-03T14:36:18.275Z",
      "updatedAt": "2024-12-03T14:36:18.275Z",
      "id": "koKAFcp5uch8EPTB",
      "name": "Public"
    },
    {
      "createdAt": "2024-12-04T04:44:18.895Z",
      "updatedAt": "2024-12-04T04:44:18.895Z",
      "id": "IjGuaaR7WQP75dhw",
      "name": "Lead Generation"
    },
    {
      "createdAt": "2024-12-04T04:44:12.047Z",
      "updatedAt": "2024-12-04T04:44:12.047Z",
      "id": "4gEIbJK2mKfhDcCF",
      "name": "Scrapping"
    },
    {
      "createdAt": "2024-12-03T14:40:24.017Z",
      "updatedAt": "2024-12-03T14:40:24.017Z",
      "id": "ufRhFqhr9vLO0YC1",
      "name": "AI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-20T05:12:16.029Z",
  "versionId": "b87b28f0-9a41-42d5-863a-f40c3fae4539"
}