Funatomations/Public/SEO AGENT -👾🟢.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Get and prepare report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get_analytics_data": {
      "ai_tool": [
        [
          {
            "node": "Get and prepare report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Get and prepare report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Search Console Tool": {
      "ai_tool": [
        [
          {
            "node": "Get and prepare report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On Page SEO analysis": {
      "ai_tool": [
        [
          {
            "node": "Get and prepare report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEND EMAIL REPORT": {
      "ai_tool": [
        [
          {
            "node": "Generate Report Template and send",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get and prepare report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Report Template and send",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get and prepare report": {
      "main": [
        [
          {
            "node": "Generate Report Template and send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-08T08:20:32.196Z",
  "id": "BhFQwPyJWAFXSk49",
  "meta": null,
  "name": "SEO AGENT -👾🟢",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "4834426b-9b91-4bff-8e9a-ede29b867bd9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -220,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "1JBBIaXSHGKDHZKq",
          "name": "Openrouter✅"
        }
      }
    },
    {
      "parameters": {
        "name": "Get_analytics_data",
        "description": "call this tool to get the google analytics data for processing",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "As0qUqQXGYegkTzg",
          "cachedResultName": "Google Analytics Agent🤖 - Reports"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -40,
        100
      ],
      "id": "63f96b81-b27f-4904-93c4-5e0de3e59acc",
      "name": "Get_analytics_data"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "id": "7e548139-8f72-4bea-a9b4-5637a26101ed",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "SearchConsoleRequestTool",
        "description": "Call this tool when you need to get the website_list or custom_insights",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3cqI9b3Y76oNjyg3",
          "cachedResultName": "Search Console Agent Tool⚒️⚒️"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\"property\": \"https://funautomations.io/\", \"request_type\": \"custom_insights\", \"startDate\": \"2024-11-07\", \"endDate\": \"2024-12-07\", \"dimensions\": [\"page\"], \"rowLimit\": 100}"
      },
      "id": "383367e3-a10c-448b-a1c5-869124ea6fd0",
      "name": "Call Search Console Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        140,
        100
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "get_analysys",
        "description": "call this tool to get the technical analysis for the page",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "oxV1W4FJCsngcOVu",
          "cachedResultName": "Technical Analysis agent✅"
        }
      },
      "id": "eeeea34d-dcd3-4c2c-ba37-7635fc792494",
      "name": "On Page SEO analysis",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send email report to the SEO manager",
        "sendTo": "kimothozacharia5@gmail.com",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"SEO_Report\") }}",
        "options": {
          "appendAttribution": false,
          "senderName": "SEO Team"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        780,
        0
      ],
      "id": "42e34942-4635-404d-b3fd-6d87069ebffd",
      "name": "SEND EMAIL REPORT",
      "webhookId": "fbaf3833-dfc7-4809-a64e-9e22884c90bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "8PS0qVYNzZvoWNA7",
          "name": "phoenix✅"
        }
      }
    },
    {
      "parameters": {
        "content": "### Comprehensive Guide to Your SEO AGENT Workflow\n\nThis guide is designed to help you understand, set up, and run the `SEO AGENT -🎡👾👾` workflow in n8n effectively.\n\n---\n\n#### 1. Understanding the Workflow:\n- **Overview:** The primary objective of this workflow is to automate the process of generating detailed SEO and analytics reports based on chat inputs, using various tools and APIs.\n\n##### Nodes and their Functions:\n1. **When chat message received:**\n- **Function:** Triggered when a chat message is received.\n- **Input:** Chat message data.\n- **Output:** Passes to the SEO Report AGENT.\n\n2. **OpenAI Chat Model:**\n- **Function:** Utilizes OpenAI's chat model to process input data.\n- **Input:** Chat message from the first node.\n- **Output:** Chat responses are generated.\n\n3. **Postgres Chat Memory:**\n- **Function:** Stores chat history in a PostgreSQL database for future reference.\n- **Input:** Chat messages.\n- **Output:** Historical chat data.\n\n4. **Get_analytics_data:**\n- **Function:** Calls another workflow to retrieve Google Analytics data for analysis.\n- **Input:** Triggered by the reports generation request.\n- **Output:** Analytics data results.\n\n5. **Calculator:**\n- **Function:** Performs calculations as needed in the report generation.\n- **Input:** Usage depends on the calculations required.\n- **Output:** Calculation results that can be included in the report.\n\n6. **SEO Report AGENT🎡🎡:**\n- **Function:** Generates an SEO report based on the inputs received.\n- **Input:** Data from analysis tools and chat input.\n- **Output:** Detailed SEO and analytics report.\n\n7. **Call Search Console Tool:**\n- **Function:** Retrieves insights from Google Search Console.\n- **Input:** Parameters for the desired insights.\n- **Output:** Search console performance data.\n\n8. **On Page SEO analysis:**\n- **Function:** Analyzes a specific webpage to provide SEO feedback.\n- **Input:** URL of the page to analyze.\n- **Output:** Analysis results.\n\n9. **SEND EMAIL REPORT:**\n- **Function:** Sends the compiled report to a specified email address.\n- **Input:** The generated report content and the recipient's email.\n- **Output:** Confirmation of email sent.\n\n---\n\n#### 2. Setup Instructions:\n- **Prerequisites:**\n- An n8n account setup.\n- API keys from OpenAI and Google Analytics.\n- PostgreSQL database credentials for storage.\n- Gmail OAuth setup for sending emails.\n\n##### Step-by-step Setup:\n1. **Import the Workflow:**\n- Copy the JSON workflow definition.\n- Go to n8n and import the workflow.\n\n2. **Configure Nodes:**\n- For **OpenAI Chat Model**, enter your OpenAI API key credentials.\n- Set up database connection for **Postgres Chat Memory** using your PostgreSQL database credentials.\n- Input the correct API Keys in the parameters for the **Get_analytics_data** and **Call Search Console Tool** nodes.\n- Update email parameters in the **SEND EMAIL REPORT** node with your recipient’s email.\n\n3. **Test Each Node:**\n- Run each node individually to ensure they are configured correctly and return the expected output.\n\n---\n\n#### 3. Use Case Examples:\n- **Use Cases:**\n- Generate periodic SEO reports for a website.\n- Analyze website performance metrics over time.\n- Provide detailed SEO insights based on historical data.\n\n- **Relevant Industries:**\n- Digital Marketing Agencies.\n- E-commerce Businesses.\n- Content Management Platforms.\n- SEO Specialist Consultants.\n\n- **Practical Value:** This workflow combines data retrieval, analysis, and reporting, enabling professionals to generate actionable insights and recommendations to improve web performance and SEO strategy efficiently.\n\n---\n\n#### 4. Running and Troubleshooting:\n- **How to Run the Workflow:**\n- After configuring the workflow, use the **Execute Workflow** button in n8n to start.\n- Monitor live executions in the n8n dashboard.\n\n- **Troubleshooting Tips:**\n- Ensure all API keys and credentials are correctly set.\n- Check for any network issues affecting API calls.\n- Review logs for error messages in n8n’s execution history and troubleshoot based on those logs.\n\n---\n\nThis guide offers a comprehensive overview of setting up and maximizing the utility of the SEO AGENT workflow in n8n, catering both to beginners and advanced users with clear instructions and contextual understanding.",
        "height": 620,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2200,
        -40
      ],
      "typeVersion": 1,
      "id": "4d473ace-b5bb-4b40-80bb-173b9ceec226",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 12,
              "triggerAtMinute": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -460,
        -280
      ],
      "id": "d2fa17f0-c980-47f8-90c2-387ef0199f3f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fd06917-c824-4fff-b560-8dd111ca571a",
              "name": "prompt",
              "value": "Provide a detailed report that contains as much and relevant info as possible from our analytics and search console data\n\nProvide a conclusion with a list of main takeaways from this report. What does it mean? What does this represent? Are we growing or not?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -280
      ],
      "id": "71feb3f8-ccfd-4a16-bba0-50e8da60b416",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "bfac139e-bb86-470c-b4d1-216a0455d2f8",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "1JBBIaXSHGKDHZKq",
          "name": "Openrouter✅"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create and send as an email report from the last 30 days google analytics and serch console report. Be as detailed and informative as posible\nYou have access to a few tools\n\nWe are to get the data based on the last 30 days by default if not specified. We can use both of these tools to run search.\n\nFor the search console, stick to this format {\"property\": \"https://www.mailsafi.com/\", \"request_type\": \"custom_insights\", \"startDate\": \"2024-11-07\", \"endDate\": \"2024-12-07\", \"dimensions\": [\"page\"], \"rowLimit\": 1000}\twhere you send the date range, the dimention, etc. You are helping with SEO reporting with the actual values\n\nThe time and date now is {{ $now.format( \" DDD t z\") }}\n\nFor the on-page analysis tool. Just send the url that we need to analyze. This will be useful when we need to see why one page performed better than the other and offer recommendations on what to do\n\n\nInclude all the relevant metrics in your report\n\nI need it to be a bit thorough though in this. \n\nWe have a tool to do an on-page analysis. Use this to determine why a page performed as it did\nFrom the report,. we can get more data, like which pages did what. When doing the report, why not send these urls to the tool and analyse the pages? After all its an SEO report that we are creating\n- Why not use this focusing on the home page only? \n- The onpage tool has the needed data; why not use that to give recommendations rather than give general recommendations?\n\nThis is both an analytics and SEO report combining the analytics, search console and on-page/technical analysis to provide detailed reports\n\nDont be shy with the details\n\n{{ $json.chatInput || $json.prompt}}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        h1, h2, h3 { color: #0073e6; margin-bottom: 10px; }\n        .container { width: 80%; margin: auto; padding: 20px; }\n        .header { background: #f4f4f4; padding: 10px 0; text-align: center; }\n        .footer { text-align: center; margin-top: 20px; font-size: 0.9em; color: #777; }\n        table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        th, td { padding: 10px; border: 1px solid #ddd; text-align: left; }\n        th { background-color: #0073e6; color: #fff; }\n        td { background-color: #f9f9f9; }\n        .highlight { font-weight: bold; color: #d9534f; }\n        .cta-button { background-color: #0073e6; color: white; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Google Analytics Insights & Performance Report</h1>\n        </div>\n\n        <h2>Executive Summary</h2>\n        <p><span class=\"highlight\">Overall Performance:</span> We saw strong performance from direct traffic with high user engagement. Organic sources have potential for growth.</p>\n\n        <h2>Traffic & Source Analysis</h2>\n        <table>\n            <tr>\n                <th>Traffic Source</th>\n                <th>Total Users</th>\n                <th>Engagement (Pages Viewed)</th>\n            </tr>\n            <tr>\n                <td>Direct</td>\n                <td>90</td>\n                <td>7</td>\n            </tr>\n            <tr>\n                <td>Organic</td>\n                <td>31</td>\n                <td>7</td>\n            </tr>\n            <tr>\n                <td>Referral</td>\n                <td>4</td>\n                <td>3</td>\n            </tr>\n            <tr>\n                <td>Paid</td>\n                <td>50</td>\n                <td>5</td>\n            </tr>\n        </table>\n\n        <h2>Key Recommendations</h2>\n        <ul>\n            <li>Improve SEO on high-traffic but underperforming pages.</li>\n            <li>Focus on improving conversion rates from organic traffic sources.</li>\n            <li>Optimize referral traffic by improving content alignment with user needs.</li>\n        </ul>\n\n        <h2>Opportunities for Growth</h2>\n        <ul>\n            <li>Target high-performing segments with personalized content to increase engagement.</li>\n            <li>Focus on organic traffic growth by optimizing landing pages and enhancing content relevance.</li>\n        </ul>\n\n        <div class=\"cta\">\n            <p><a href=\"#\" class=\"cta-button\">Schedule a Discussion</a></p>\n        </div>\n\n        <div class=\"footer\">\n            <p>Thank you for reviewing the insights. For further details, feel free to reach out!</p>\n        </div>\n    </div>\n</body>\n</html>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        60,
        -160
      ],
      "id": "9daf1c4d-a9ee-4400-bbdd-d3a3a7680e39",
      "name": "Get and prepare report",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From the received report.. Can you draft an HTML email and send the result via email to the Admin\n\n{{ $json.output || $json.text}}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        h1, h2, h3 { color: #0073e6; margin-bottom: 10px; }\n        .container { width: 80%; margin: auto; padding: 20px; }\n        .header { background: #f4f4f4; padding: 10px 0; text-align: center; }\n        .footer { text-align: center; margin-top: 20px; font-size: 0.9em; color: #777; }\n        table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        th, td { padding: 10px; border: 1px solid #ddd; text-align: left; }\n        th { background-color: #0073e6; color: #fff; }\n        td { background-color: #f9f9f9; }\n        .highlight { font-weight: bold; color: #d9534f; }\n        .cta-button { background-color: #0073e6; color: white; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Google Analytics Insights & Performance Report</h1>\n        </div>\n\n        <h2>Executive Summary</h2>\n        <p><span class=\"highlight\">Overall Performance:</span> We saw strong performance from direct traffic with high user engagement. Organic sources have potential for growth.</p>\n\n        <h2>Traffic & Source Analysis</h2>\n        <table>\n            <tr>\n                <th>Traffic Source</th>\n                <th>Total Users</th>\n                <th>Engagement (Pages Viewed)</th>\n            </tr>\n            <tr>\n                <td>Direct</td>\n                <td>90</td>\n                <td>7</td>\n            </tr>\n            <tr>\n                <td>Organic</td>\n                <td>31</td>\n                <td>7</td>\n            </tr>\n            <tr>\n                <td>Referral</td>\n                <td>4</td>\n                <td>3</td>\n            </tr>\n            <tr>\n                <td>Paid</td>\n                <td>50</td>\n                <td>5</td>\n            </tr>\n        </table>\n\n        <h2>Key Recommendations</h2>\n        <ul>\n            <li>Improve SEO on high-traffic but underperforming pages.</li>\n            <li>Focus on improving conversion rates from organic traffic sources.</li>\n            <li>Optimize referral traffic by improving content alignment with user needs.</li>\n        </ul>\n\n        <h2>Opportunities for Growth</h2>\n        <ul>\n            <li>Target high-performing segments with personalized content to increase engagement.</li>\n            <li>Focus on organic traffic growth by optimizing landing pages and enhancing content relevance.</li>\n        </ul>\n\n        <div class=\"cta\">\n            <p><a href=\"#\" class=\"cta-button\">Schedule a Discussion</a></p>\n        </div>\n\n        <div class=\"footer\">\n            <p>Thank you for reviewing the insights. For further details, feel free to reach out!</p>\n        </div>\n    </div>\n</body>\n</html>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        -260
      ],
      "id": "53c69d7a-c5f3-462f-8c3b-900ec6952731",
      "name": "Generate Report Template and send",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "UFY8E1UxgEppEMpW"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-12-03T14:40:24.017Z",
      "updatedAt": "2024-12-03T14:40:24.017Z",
      "id": "ufRhFqhr9vLO0YC1",
      "name": "AI"
    },
    {
      "createdAt": "2024-12-04T12:32:00.284Z",
      "updatedAt": "2024-12-04T12:32:00.284Z",
      "id": "bNah9fcKNwQQBzJ1",
      "name": "SEO DOCTOR"
    },
    {
      "createdAt": "2024-12-07T05:13:55.254Z",
      "updatedAt": "2024-12-07T05:13:55.254Z",
      "id": "L5zcJfTllY0jsuUO",
      "name": "SEO REPORTS"
    },
    {
      "createdAt": "2024-12-03T14:36:18.275Z",
      "updatedAt": "2024-12-03T14:36:18.275Z",
      "id": "koKAFcp5uch8EPTB",
      "name": "Public"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-16T10:00:10.812Z",
  "versionId": "05f3dd9f-c33b-43eb-b51c-d96aa962a074"
}