Public-Workflows/Google Analytics Report tool⚒️🟢.json
{
  "active": false,
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Sort by Date 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users by day": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort by date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get custom user Report": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate Page reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Report1📶📶": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Report 2📶": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date 2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Page reports": {
      "main": [
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Users by day",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get custom user Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Page Report1📶📶",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Page Report 2📶",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-12T09:03:39.060Z",
  "id": "s66pjxtQgsGtppqw",
  "meta": null,
  "name": "Google Analytics Report tool⚒️🟢",
  "nodes": [
    {
      "parameters": {
        "content": "## Page reports",
        "height": 380,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -800
      ],
      "typeVersion": 1,
      "id": "cf6940cd-8ea7-4245-a74b-86eda306750c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -1020
      ],
      "id": "d8c8b7a1-4e8b-4dc8-a34d-f5f50785177a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Get user Report for the Last 30 Days",
        "height": 460,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -1320
      ],
      "typeVersion": 1,
      "id": "662174d9-671d-49f7-8779-0192a084f56c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other"
            },
            {
              "listName": "other",
              "name": "scrolledUsers"
            },
            {
              "listName": "other",
              "name": "userKeyEventRate"
            },
            {
              "listName": "other",
              "name": "newUsers"
            },
            {
              "listName": "other",
              "name": "totalPurchasers"
            },
            {
              "listName": "other",
              "name": "active1DayUsers"
            },
            {
              "listName": "other",
              "name": "active7DayUsers"
            },
            {
              "listName": "other",
              "name": "active28DayUsers"
            },
            {
              "listName": "other",
              "name": "firstTimePurchasers"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -40,
        -1240
      ],
      "id": "8c7f135c-5cff-4088-b565-f189b82b350e",
      "name": "Users by day",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        -1240
      ],
      "id": "d29736d6-64fd-408c-98f3-2965348643dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other",
              "name": "dauPerMau"
            },
            {
              "listName": "other",
              "name": "dauPerWau"
            },
            {
              "listName": "other"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "other"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -1020
      ],
      "id": "56032694-d298-4739-9b73-5824b4ac06d2",
      "name": "Get custom user Report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "content": "## We can only get 11 Columns per call. We therefore divide the metris we need and combine tem at the end\n",
        "height": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -880
      ],
      "typeVersion": 1,
      "id": "0182f675-557f-499c-845f-f38b0cf67ccb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "pageLocation",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        180,
        -680
      ],
      "id": "2a6b910a-89fd-4520-bc41-cc572a2fdbda",
      "name": "Merge"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "eventCount"
            },
            {},
            {
              "listName": "screenPageViews"
            },
            {
              "listName": "userEngagementDuration"
            },
            {
              "listName": "sessions"
            },
            {
              "listName": "checkouts"
            },
            {
              "listName": "sessionsPerUser"
            },
            {
              "listName": "other",
              "name": "screenPageViewsPerUser"
            },
            {
              "listName": "other",
              "name": "screenPageViewsPerSession"
            },
            {
              "listName": "other",
              "name": "engagementRate"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "pageLocation"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -760
      ],
      "id": "76388d2c-91e2-4735-8ac1-398883593abf",
      "name": "Get Page Report1📶📶",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other",
              "name": "activeUsers"
            },
            {
              "listName": "other",
              "name": "bounceRate"
            },
            {
              "listName": "other",
              "name": "keyEvents:free_trial"
            },
            {
              "listName": "other",
              "name": "keyEvents:get_quote"
            },
            {
              "listName": "other",
              "name": "userKeyEventRate:ua_sign_up"
            },
            {
              "listName": "other"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "pageLocation"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -580
      ],
      "id": "ffab1770-c0a1-4b7a-9912-2a3ecad9316c",
      "name": "Get Page Report 2📶",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "date",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        620,
        -1140
      ],
      "id": "494417dd-9ee1-47b6-85c6-c54c6a08345b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        380,
        -1240
      ],
      "id": "a5ef94fb-1b48-4631-9d54-b8cd8f705ac6",
      "name": "Sort by date"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        400,
        -1020
      ],
      "id": "949780ad-e33b-4415-9428-e6f474fccd5c",
      "name": "Sort by Date 2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        420,
        -680
      ],
      "id": "99622efe-5fbd-48a1-b990-47f38928fe8d",
      "name": "Aggregate Page reports"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        -960
      ],
      "id": "95c91af5-0918-4436-b74a-182cc4827022",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "users",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "users"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bfc1e36-8591-46ec-838e-fecd97f70ac9",
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "page",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "page"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        -960
      ],
      "id": "9dd3c5d2-3da7-4f48-9b73-8415f981b465",
      "name": "Switch"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        840,
        -1140
      ],
      "id": "33933c43-b705-43ee-bd85-74d99db9deb5",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "users",
          "days": [
            {
              "start_date": "2024-11-10",
              "end_date": "2024-12-10"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "UFY8E1UxgEppEMpW"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-12-03T14:36:18.275Z",
      "updatedAt": "2024-12-03T14:36:18.275Z",
      "id": "koKAFcp5uch8EPTB",
      "name": "Public"
    },
    {
      "createdAt": "2024-12-04T12:32:00.284Z",
      "updatedAt": "2024-12-04T12:32:00.284Z",
      "id": "bNah9fcKNwQQBzJ1",
      "name": "SEO DOCTOR"
    },
    {
      "createdAt": "2024-12-07T05:13:55.254Z",
      "updatedAt": "2024-12-07T05:13:55.254Z",
      "id": "L5zcJfTllY0jsuUO",
      "name": "SEO REPORTS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-13T05:39:02.412Z",
  "versionId": "c0754e06-1466-4af2-8938-ef37511400c2"
}