Public-Workflows/Google Analytics Report copy.json
{
  "active": false,
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Sort by Date 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users by day": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort by date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get custom user Report": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate Page reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Report1📶📶": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Report 2📶": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Do Sum➕": {
      "main": [
        [
          {
            "node": "GA - Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date 2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Page reports": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Users by day",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get custom user Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Page Report1📶📶",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Page Report 2📶",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-12T09:03:39.060Z",
  "id": "s66pjxtQgsGtppqw",
  "meta": null,
  "name": "Google Analytics Report copy",
  "nodes": [
    {
      "parameters": {
        "content": "## Page reports",
        "height": 380,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -800
      ],
      "typeVersion": 1,
      "id": "cf6940cd-8ea7-4245-a74b-86eda306750c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -1020
      ],
      "id": "d8c8b7a1-4e8b-4dc8-a34d-f5f50785177a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Get user Report for the Last 30 Days",
        "height": 460,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -1320
      ],
      "typeVersion": 1,
      "id": "662174d9-671d-49f7-8779-0192a084f56c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other"
            },
            {
              "listName": "other",
              "name": "scrolledUsers"
            },
            {
              "listName": "other",
              "name": "userKeyEventRate"
            },
            {
              "listName": "other",
              "name": "newUsers"
            },
            {
              "listName": "other",
              "name": "totalPurchasers"
            },
            {
              "listName": "other",
              "name": "active1DayUsers"
            },
            {
              "listName": "other",
              "name": "active7DayUsers"
            },
            {
              "listName": "other",
              "name": "active28DayUsers"
            },
            {
              "listName": "other",
              "name": "firstTimePurchasers"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -40,
        -1240
      ],
      "id": "8c7f135c-5cff-4088-b565-f189b82b350e",
      "name": "Users by day",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        -1240
      ],
      "id": "d29736d6-64fd-408c-98f3-2965348643dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other",
              "name": "dauPerMau"
            },
            {
              "listName": "other",
              "name": "dauPerWau"
            },
            {
              "listName": "other"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "other"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -1020
      ],
      "id": "56032694-d298-4739-9b73-5824b4ac06d2",
      "name": "Get custom user Report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "content": "## We can only get 11 Columns per call. We therefore divide the metris we need and combine tem at the end\n",
        "height": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -880
      ],
      "typeVersion": 1,
      "id": "0182f675-557f-499c-845f-f38b0cf67ccb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "pageLocation",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        180,
        -680
      ],
      "id": "2a6b910a-89fd-4520-bc41-cc572a2fdbda",
      "name": "Merge"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "eventCount"
            },
            {},
            {
              "listName": "screenPageViews"
            },
            {
              "listName": "userEngagementDuration"
            },
            {
              "listName": "sessions"
            },
            {
              "listName": "checkouts"
            },
            {
              "listName": "sessionsPerUser"
            },
            {
              "listName": "other",
              "name": "screenPageViewsPerUser"
            },
            {
              "listName": "other",
              "name": "screenPageViewsPerSession"
            },
            {
              "listName": "other",
              "name": "engagementRate"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "pageLocation"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -760
      ],
      "id": "76388d2c-91e2-4735-8ac1-398883593abf",
      "name": "Get Page Report1📶📶",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other",
              "name": "activeUsers"
            },
            {
              "listName": "other",
              "name": "bounceRate"
            },
            {
              "listName": "other",
              "name": "keyEvents:free_trial"
            },
            {
              "listName": "other",
              "name": "keyEvents:get_quote"
            },
            {
              "listName": "other",
              "name": "userKeyEventRate:ua_sign_up"
            },
            {
              "listName": "other"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "pageLocation"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -580
      ],
      "id": "ffab1770-c0a1-4b7a-9912-2a3ecad9316c",
      "name": "Get Page Report 2📶",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ddd097a-c391-4779-9d0a-56cd1e4ebc39",
              "name": "Total Pages",
              "value": "={{ $json.pageLocation .length}}",
              "type": "number"
            },
            {
              "id": "54de9bb3-3892-46b0-800c-e3931e4a2498",
              "name": "Total Signups",
              "value": "={{ $json['userKeyEventRate:ua_sign_up'] .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "69db41ff-663b-4329-b16d-d504496da344",
              "name": "Total Quote Requests",
              "value": "={{ $json['keyEvents:get_quote'].map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "55fa0abb-5881-44f7-8c0c-3c530ab00013",
              "name": "Total Free_trials",
              "value": "={{ $json['keyEvents:free_trial'] .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "b48abf7a-ad2e-4b66-b6a9-d32439aa815d",
              "name": "Average Bounce Rate",
              "value": "={{ $json.bounceRate.map(Number).reduce((sum, currentValue) => sum + currentValue, 0)/$json.bounceRate.length }}",
              "type": "number"
            },
            {
              "id": "35206fd1-c0f1-43d7-a226-e26b552df51b",
              "name": "Total Active Users",
              "value": "={{ $json.activeUsers.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "b5828fc1-b106-4f4c-aeec-473df08e636c",
              "name": "Average engagement Rate",
              "value": "={{ $json.engagementRate .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) / $json.engagementRate.length }}",
              "type": "number"
            },
            {
              "id": "f237f27f-63ba-4fcc-9bca-7893c65358cc",
              "name": "Average screen Page ViewsPerSession",
              "value": "={{ $json.screenPageViewsPerSession.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }} ",
              "type": "number"
            },
            {
              "id": "ae8d16f1-3a76-4c65-aebd-c1414a2e42f4",
              "name": "Average sessionsPerUser",
              "value": "={{ $json.sessionsPerUser.map(Number).reduce((sum, currentValue) => sum + currentValue, 0)/$json.sessionsPerUser.length }}",
              "type": "number"
            },
            {
              "id": "9cf35217-a177-4595-9fd3-bde2202cdea6",
              "name": "Total checkouts",
              "value": "={{ $json.checkouts .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "b93d6111-9308-414c-b5a7-c343d2c593d8",
              "name": "sessions",
              "value": "={{ $json.sessions.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "string"
            },
            {
              "id": "48d7a30a-54fd-44b9-82f7-38bfd7c7784e",
              "name": "Total screenPageViews",
              "value": "={{ $json.screenPageViews.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "string"
            },
            {
              "id": "fea72b47-4f2f-40ec-9ef4-47f79f395cac",
              "name": "Total Users",
              "value": "={{ $json.totalUsers.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "6cc707e6-aeb4-4bdb-aa0c-b791c3c3f7b9",
              "name": "Total Events",
              "value": "={{ $json.eventCount.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        -280
      ],
      "id": "ec1dc190-dab9-4648-af2b-71afb12f477d",
      "name": "Do Sum➕"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "date",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        620,
        -1140
      ],
      "id": "494417dd-9ee1-47b6-85c6-c54c6a08345b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?gid=370584456#gid=370584456",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837315263,
          "mode": "list",
          "cachedResultName": "GA Metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=1837315263"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Total Pages",
              "displayName": "Total Pages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Signups",
              "displayName": "Total Signups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Quote Requests",
              "displayName": "Total Quote Requests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Free_trials",
              "displayName": "Total Free_trials",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average Bounce Rate",
              "displayName": "Average Bounce Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Active Users",
              "displayName": "Total Active Users",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average engagement Rate",
              "displayName": "Average engagement Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average screen Page ViewsPerSession",
              "displayName": "Average screen Page ViewsPerSession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average sessionsPerUser",
              "displayName": "Average sessionsPerUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total checkouts",
              "displayName": "Total checkouts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessions",
              "displayName": "sessions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total screenPageViews",
              "displayName": "Total screenPageViews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Users",
              "displayName": "Total Users",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Events",
              "displayName": "Total Events",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1180,
        -280
      ],
      "id": "94f73250-2203-441a-81ed-b69d178e2888",
      "name": "GA - Metrics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZAI2a6Qt80kX5a9s",
          "name": "Google Sheets account✅ "
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        380,
        -1240
      ],
      "id": "a5ef94fb-1b48-4631-9d54-b8cd8f705ac6",
      "name": "Sort by date"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        400,
        -1020
      ],
      "id": "949780ad-e33b-4415-9428-e6f474fccd5c",
      "name": "Sort by Date 2"
    },
    {
      "parameters": {
        "content": "## Calculate data and Metrics",
        "height": 200,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -340
      ],
      "typeVersion": 1,
      "id": "27b5e2e7-beb5-459c-a7f0-3017dca06825",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        420,
        -680
      ],
      "id": "99622efe-5fbd-48a1-b990-47f38928fe8d",
      "name": "Aggregate Page reports"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "22a837b6-608d-48ca-90d0-18db7b38d237",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "196facac-94dc-4dc9-8547-fab2a6ee5d23",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        -960
      ],
      "id": "95c91af5-0918-4436-b74a-182cc4827022",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "users",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "users"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bfc1e36-8591-46ec-838e-fecd97f70ac9",
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "page",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "page"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        -960
      ],
      "id": "9dd3c5d2-3da7-4f48-9b73-8415f981b465",
      "name": "Switch"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        840,
        -1140
      ],
      "id": "33933c43-b705-43ee-bd85-74d99db9deb5",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "users",
          "days": [
            {
              "start_date": "2024-11-10",
              "end_date": "2024-12-10"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "UFY8E1UxgEppEMpW"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-12-03T14:36:18.275Z",
      "updatedAt": "2024-12-03T14:36:18.275Z",
      "id": "koKAFcp5uch8EPTB",
      "name": "Public"
    },
    {
      "createdAt": "2024-12-04T12:32:00.284Z",
      "updatedAt": "2024-12-04T12:32:00.284Z",
      "id": "bNah9fcKNwQQBzJ1",
      "name": "SEO DOCTOR"
    },
    {
      "createdAt": "2024-12-07T05:13:55.254Z",
      "updatedAt": "2024-12-07T05:13:55.254Z",
      "id": "L5zcJfTllY0jsuUO",
      "name": "SEO REPORTS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-12T09:06:04.332Z",
  "versionId": "53ac2b52-9437-4f1a-9f1f-4ab72d600d70"
}