Public-Workflows/Google Analytics Report.json
{
  "active": true,
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Sort by Date 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Sort3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort3": {
      "main": [
        [
          {
            "node": "Upsert report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign Report": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA - Pages": {
      "main": [
        [
          {
            "node": "Aggregate Page reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get custom user Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Campaign Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Page Report1📶📶",
            "type": "main",
            "index": 0
          },
          {
            "node": "Users by day",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Page Report 2📶",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users by day": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort by date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get custom user Report": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "GA - Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Report1📶📶": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Report 2📶": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Do Sum➕": {
      "main": [
        [
          {
            "node": "GA - Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update Users report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date 2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert report1": {
      "main": [
        [
          {
            "node": "Aggregate Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Page reports": {
      "main": [
        [
          {
            "node": "Do Sum➕",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-07T05:59:07.449Z",
  "id": "0uMJNUeiFrqzamwH",
  "meta": null,
  "name": "Google Analytics Report",
  "nodes": [
    {
      "parameters": {
        "content": "## Page reports",
        "height": 380,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -560
      ],
      "typeVersion": 1,
      "id": "01b680b0-11d9-4317-b463-1bef5a6daf1f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -1020
      ],
      "id": "f7d9a506-5d38-43af-b7e1-4598792b6e04",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Get user Report for the Last 30 Days",
        "height": 460,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -1320
      ],
      "typeVersion": 1,
      "id": "2ea072e6-7e36-47ef-a136-27cdfe768b71",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -760
      ],
      "id": "dfafb7b3-2e1c-4db4-b751-caa36e243def",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        340,
        -760
      ],
      "id": "a6af07cd-4437-422e-8d8b-0873a6855ff9",
      "name": "Sort3"
    },
    {
      "parameters": {
        "content": "## Get Campaign Report for the Last 30 Days",
        "height": 220,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -820
      ],
      "typeVersion": 1,
      "id": "78b0cbdc-d0e1-46af-9cd7-da6dc1220e77",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?gid=370584456#gid=370584456",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 898560110,
          "mode": "list",
          "cachedResultName": "GA -Campaigns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=898560110"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pageLocation",
              "displayName": "pageLocation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaignName",
              "displayName": "campaignName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalUsers",
              "displayName": "totalUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        -760
      ],
      "id": "b4d82582-2ad7-4601-a327-06db3153a1e0",
      "name": "Upsert report1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZAI2a6Qt80kX5a9s",
          "name": "Google Sheets account✅ "
        }
      }
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {}
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {},
            {
              "listName": "campaignName"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -40,
        -760
      ],
      "id": "7040827a-f5db-4f20-9161-664745dff31a",
      "name": "Get Campaign Report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?gid=370584456#gid=370584456",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859239429,
          "mode": "list",
          "cachedResultName": "GA -Pages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=1859239429"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "pageLocation"
          ],
          "schema": [
            {
              "id": "pageLocation",
              "displayName": "pageLocation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "eventCount",
              "displayName": "eventCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalUsers",
              "displayName": "totalUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenPageViews",
              "displayName": "screenPageViews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userEngagementDuration",
              "displayName": "userEngagementDuration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessions",
              "displayName": "sessions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checkouts",
              "displayName": "checkouts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionsPerUser",
              "displayName": "sessionsPerUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenPageViewsPerUser",
              "displayName": "screenPageViewsPerUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenPageViewsPerSession",
              "displayName": "screenPageViewsPerSession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engagementRate",
              "displayName": "engagementRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "activeUsers",
              "displayName": "activeUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bounceRate",
              "displayName": "bounceRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyEvents:free_trial",
              "displayName": "keyEvents:free_trial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyEvents:get_quote",
              "displayName": "keyEvents:get_quote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userKeyEventRate:ua_sign_up",
              "displayName": "userKeyEventRate:ua_sign_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        580,
        -440
      ],
      "id": "b212fe17-0660-4b46-8065-5ccfc5d0692c",
      "name": "GA - Pages",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZAI2a6Qt80kX5a9s",
          "name": "Google Sheets account✅ "
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        -760
      ],
      "id": "39ba24ab-f9e9-48e4-956f-9746533525f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other"
            },
            {
              "listName": "other",
              "name": "scrolledUsers"
            },
            {
              "listName": "other",
              "name": "userKeyEventRate"
            },
            {
              "listName": "other",
              "name": "newUsers"
            },
            {
              "listName": "other",
              "name": "totalPurchasers"
            },
            {
              "listName": "other",
              "name": "active1DayUsers"
            },
            {
              "listName": "other",
              "name": "active7DayUsers"
            },
            {
              "listName": "other",
              "name": "active28DayUsers"
            },
            {
              "listName": "other",
              "name": "firstTimePurchasers"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -40,
        -1240
      ],
      "id": "e4d34910-9793-4dde-ac85-b298d3ade413",
      "name": "Users by day",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423a0873-620b-4695-8f0b-baede3b9c17f",
              "name": "date",
              "value": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        -1240
      ],
      "id": "ff6146d4-8458-4d77-b3d2-f8083c025c12",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other",
              "name": "dauPerMau"
            },
            {
              "listName": "other",
              "name": "dauPerWau"
            },
            {
              "listName": "other"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "other"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -20,
        -1020
      ],
      "id": "5d37ae1f-2777-48be-859d-9283b4748bbd",
      "name": "Get custom user Report",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "content": "## We can only get 11 Columns per call. We therefore divide the metris we need and combine tem at the end\n",
        "height": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -880
      ],
      "typeVersion": 1,
      "id": "d4533af6-ee09-4109-91eb-c756e8f13ac4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "pageLocation",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        220,
        -440
      ],
      "id": "53f53372-d7ad-4afa-93dd-ec2daabb9d03",
      "name": "Merge"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -440
      ],
      "id": "5934539b-6c8b-4ce1-a58e-e1b800fb350e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "eventCount"
            },
            {},
            {
              "listName": "screenPageViews"
            },
            {
              "listName": "userEngagementDuration"
            },
            {
              "listName": "sessions"
            },
            {
              "listName": "checkouts"
            },
            {
              "listName": "sessionsPerUser"
            },
            {
              "listName": "other",
              "name": "screenPageViewsPerUser"
            },
            {
              "listName": "other",
              "name": "screenPageViewsPerSession"
            },
            {
              "listName": "other",
              "name": "engagementRate"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "pageLocation"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        20,
        -520
      ],
      "id": "cbad4235-80c2-4ddf-8d49-7a50a98166af",
      "name": "Get Page Report1📶📶",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "399795563",
          "mode": "list",
          "cachedResultName": "www.mailsafi.com - GA4",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p399795563/"
        },
        "dateRange": "last30days",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "other",
              "name": "activeUsers"
            },
            {
              "listName": "other",
              "name": "bounceRate"
            },
            {
              "listName": "other",
              "name": "keyEvents:free_trial"
            },
            {
              "listName": "other",
              "name": "keyEvents:get_quote"
            },
            {
              "listName": "other",
              "name": "userKeyEventRate:ua_sign_up"
            },
            {
              "listName": "other"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {
              "listName": "pageLocation"
            }
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        20,
        -340
      ],
      "id": "95884c17-3abb-4073-876c-22e3a821d7e8",
      "name": "Get Page Report 2📶",
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "vn2PksmnwxJ1e01s",
          "name": "Google Analytics account✅"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ddd097a-c391-4779-9d0a-56cd1e4ebc39",
              "name": "Total Pages",
              "value": "={{ $json.pageLocation .length}}",
              "type": "number"
            },
            {
              "id": "54de9bb3-3892-46b0-800c-e3931e4a2498",
              "name": "Total Signups",
              "value": "={{ $json['userKeyEventRate:ua_sign_up'] .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "69db41ff-663b-4329-b16d-d504496da344",
              "name": "Total Quote Requests",
              "value": "={{ $json['keyEvents:get_quote'].map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "55fa0abb-5881-44f7-8c0c-3c530ab00013",
              "name": "Total Free_trials",
              "value": "={{ $json['keyEvents:free_trial'] .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "b48abf7a-ad2e-4b66-b6a9-d32439aa815d",
              "name": "Average Bounce Rate",
              "value": "={{ $json.bounceRate.map(Number).reduce((sum, currentValue) => sum + currentValue, 0)/$json.bounceRate.length }}",
              "type": "number"
            },
            {
              "id": "35206fd1-c0f1-43d7-a226-e26b552df51b",
              "name": "Total Active Users",
              "value": "={{ $json.activeUsers.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "b5828fc1-b106-4f4c-aeec-473df08e636c",
              "name": "Average engagement Rate",
              "value": "={{ $json.engagementRate .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) / $json.engagementRate.length }}",
              "type": "number"
            },
            {
              "id": "f237f27f-63ba-4fcc-9bca-7893c65358cc",
              "name": "Average screen Page ViewsPerSession",
              "value": "={{ $json.screenPageViewsPerSession.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }} ",
              "type": "number"
            },
            {
              "id": "ae8d16f1-3a76-4c65-aebd-c1414a2e42f4",
              "name": "Average sessionsPerUser",
              "value": "={{ $json.sessionsPerUser.map(Number).reduce((sum, currentValue) => sum + currentValue, 0)/$json.sessionsPerUser.length }}",
              "type": "number"
            },
            {
              "id": "9cf35217-a177-4595-9fd3-bde2202cdea6",
              "name": "Total checkouts",
              "value": "={{ $json.checkouts .map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "b93d6111-9308-414c-b5a7-c343d2c593d8",
              "name": "sessions",
              "value": "={{ $json.sessions.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "string"
            },
            {
              "id": "48d7a30a-54fd-44b9-82f7-38bfd7c7784e",
              "name": "Total screenPageViews",
              "value": "={{ $json.screenPageViews.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "string"
            },
            {
              "id": "fea72b47-4f2f-40ec-9ef4-47f79f395cac",
              "name": "Total Users",
              "value": "={{ $json.totalUsers.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            },
            {
              "id": "6cc707e6-aeb4-4bdb-aa0c-b791c3c3f7b9",
              "name": "Total Events",
              "value": "={{ $json.eventCount.map(Number).reduce((sum, currentValue) => sum + currentValue, 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        -280
      ],
      "id": "b2e529b8-ecd7-49bb-a848-57db9ebecfc1",
      "name": "Do Sum➕"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "date",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        620,
        -1140
      ],
      "id": "26dffcce-cf34-4251-8fb3-d32f0138ad28",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?gid=370584456#gid=370584456",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837315263,
          "mode": "list",
          "cachedResultName": "GA Metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=1837315263"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Total Pages",
              "displayName": "Total Pages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Signups",
              "displayName": "Total Signups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Quote Requests",
              "displayName": "Total Quote Requests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Free_trials",
              "displayName": "Total Free_trials",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average Bounce Rate",
              "displayName": "Average Bounce Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Active Users",
              "displayName": "Total Active Users",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average engagement Rate",
              "displayName": "Average engagement Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average screen Page ViewsPerSession",
              "displayName": "Average screen Page ViewsPerSession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Average sessionsPerUser",
              "displayName": "Average sessionsPerUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total checkouts",
              "displayName": "Total checkouts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessions",
              "displayName": "sessions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total screenPageViews",
              "displayName": "Total screenPageViews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Users",
              "displayName": "Total Users",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Events",
              "displayName": "Total Events",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1180,
        -280
      ],
      "id": "e8d16ea7-ab60-4836-97f1-e3e0db2cac3f",
      "name": "GA - Metrics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZAI2a6Qt80kX5a9s",
          "name": "Google Sheets account✅ "
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        380,
        -1240
      ],
      "id": "5ac29a40-3b45-4d8d-ba78-0b4a8b6ca551",
      "name": "Sort by date"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        400,
        -1020
      ],
      "id": "124614fb-444b-4e98-9ed7-8938dffaf829",
      "name": "Sort by Date 2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?gid=370584456#gid=370584456",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 370584456,
          "mode": "list",
          "cachedResultName": "GA- Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=370584456"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalUsers",
              "displayName": "totalUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrolledUsers",
              "displayName": "scrolledUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userKeyEventRate",
              "displayName": "userKeyEventRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "newUsers",
              "displayName": "newUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalPurchasers",
              "displayName": "totalPurchasers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "active1DayUsers",
              "displayName": "active1DayUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "active7DayUsers",
              "displayName": "active7DayUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "active28DayUsers",
              "displayName": "active28DayUsers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstTimePurchasers",
              "displayName": "firstTimePurchasers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "landingPage",
              "displayName": "landingPage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        -1140
      ],
      "id": "79e2d1c7-b356-4377-b065-af2f88896682",
      "name": "Update Users report",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZAI2a6Qt80kX5a9s",
          "name": "Google Sheets account✅ "
        }
      }
    },
    {
      "parameters": {
        "content": "## Calculate data and Metrics",
        "height": 200,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -340
      ],
      "typeVersion": 1,
      "id": "57e63220-92fd-4371-98c7-52b54da21d07",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "date"
            },
            {
              "fieldToAggregate": "campaignName"
            },
            {
              "fieldToAggregate": "totalUsers"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        740,
        -760
      ],
      "id": "1b77a779-14e6-472c-839c-29d0ae2a4168",
      "name": "Aggregate Campaigns"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "eventCount"
            },
            {
              "fieldToAggregate": "totalUsers"
            },
            {
              "fieldToAggregate": "screenPageViews"
            },
            {
              "fieldToAggregate": "userEngagementDuration"
            },
            {
              "fieldToAggregate": "sessions"
            },
            {
              "fieldToAggregate": "checkouts"
            },
            {
              "fieldToAggregate": "sessionsPerUser"
            },
            {
              "fieldToAggregate": "screenPageViewsPerSession"
            },
            {
              "fieldToAggregate": "engagementRate"
            },
            {
              "fieldToAggregate": "activeUsers"
            },
            {
              "fieldToAggregate": "bounceRate"
            },
            {
              "fieldToAggregate": "keyEvents:free_trial"
            },
            {
              "fieldToAggregate": "keyEvents:get_quote"
            },
            {
              "fieldToAggregate": "userKeyEventRate:ua_sign_up"
            },
            {
              "fieldToAggregate": "pageLocation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        860,
        -280
      ],
      "id": "bf78dd9c-96cd-48e4-a5ca-f1ce351f2bbb",
      "name": "Aggregate Page reports"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "UFY8E1UxgEppEMpW"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-12-07T05:13:55.254Z",
      "updatedAt": "2024-12-07T05:13:55.254Z",
      "id": "L5zcJfTllY0jsuUO",
      "name": "SEO REPORTS"
    },
    {
      "createdAt": "2024-12-04T12:32:00.284Z",
      "updatedAt": "2024-12-04T12:32:00.284Z",
      "id": "bNah9fcKNwQQBzJ1",
      "name": "SEO DOCTOR"
    },
    {
      "createdAt": "2024-12-03T14:36:18.275Z",
      "updatedAt": "2024-12-03T14:36:18.275Z",
      "id": "koKAFcp5uch8EPTB",
      "name": "Public"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-11T06:39:34.495Z",
  "versionId": "f9768d05-3ed8-4532-aee8-f1d5aea3965b"
}